@model IEnumerable<AspNetDocker.Models.UserModel>
@{
    ViewBag.Title = "Docker example with sql server and dotnet mvc";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h4>Users list</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                </tr>
            }
        </table>
    </div>    
</div>